body{
  margin: 0;
  padding: 0;
  background-color: white;
  background-image: url("../img/bg-4.jpg");
  background-position: left top;
  font-size: 1em;
}
#loader{
  position:fixed; 
  display:none;
  z-index: 1;
  margin-left: 15%;
  background: none;
  width: 70%;
  margin-top: 50%;
}
a{
  text-decoration: none;
  color: #fff;
}
#map {
  z-index: 2;
  width: 100%;
  height: 88vh;
  /* background-image: url("../img/loading-wheel.gif");*/
  background-repeat: no-repeat;
  background-position: center center;
}
#wrap{
  display: inline-block; 
  width: 94%; 
  height:100%; 
  margin:3%;
  margin-top:17%;
}
header{
  color: #fff;
  background-color: rgba(0,0,0,0.1);
  display: inline-block;
  width:102%;
  position:fixed; 
  z-index:2; 
  text-align:center; 
  font-size:1.5em;
}
#stop_div{
  float: left; 
  width: 50%;
}
.header_tab{
 width: 50%;
 padding-bottom: .3em;
 padding-top: .3em;
 background-color: #002058;
 float: left;
}
#map_view{
  background-color:#E87722;
  border-bottom: 4px solid #fff;  
}
