
body{
  margin: 0;
  padding: 0;
  background-color: white;
  background-image: url("../img/bg-4.jpg");
  background-position: left top;
  /*background-color: yellow;*/
  font-size: 1em;
  text-shadow:none;
}
header{
  color: #fff;
  background-color: rgba(0,0,0,0.1);
  display: inline-block;
  width:102%;
  position:fixed; 
  z-index:2; 
  text-align:center; 
  font-size:1.5em;
}
.header_tab{
 width: 50%;
 padding-bottom: .3em;
 padding-top: .3em;
 background-color: #002058;
 float: left;
}
#list_view{
  background-color:#E87722; 
  border-bottom: 4px solid #fff;
}
a{
  text-decoration: none;
  color: #fff;
}
#wrap_autosuggest{
  margin-top: 13%;
  margin-left: 8%;
  width: 77%;
  position: fixed;
}
#wrap_stops{
  margin-top: 30%;
  width: 83.2%;
  position: fixed;
  margin-left: 8%;
  z-index: -1;
  display: none;
}
#autosuggest{
  width: 100%;
  padding: 4%;
  border: none;
  z-index: 3;
}
ul{
  margin-top: 1px;
  padding-left: 0;
  width: 100%;
  background: rgba(255,255,255,.95);
  list-style-type: none;
}
.stops,.departures,.stops2,.stops3{
  padding:.8em;
  border-bottom: 1px solid gray; 
  z-index: 3;
}
.stops:first-child,{
  border-top: 1px solid gray;
}
.departures:first-child{
  font-weight:bold;
  text-decoration: underline; 
}

#departure_wrap{
  width: 94%;
  margin-left: 3%;
  display: none;
  margin-top: 12%;
}
/*#loader{
  margin-top: 70%;
  margin-left: 40%;
  display: none;
  position: fixed;
  z-index: 1000;
  }*/
  #stop_list{
    background: rgba(71,71,71,.93);
    color: white;
  }
  .stops3{
    background: url("../img/gps.png") no-repeat; 
    background-position:  right 10px center;
    background-size: 30px 30px;
  }
  .stops2{
    background: url("../img/favorite-yellow.png") no-repeat;
    background-position:  right 10px center;
    background-size: 30px 30px;
  }